<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Parking Reservation{% endblock %}</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <!-- head -->
        <h1>Parking Reservation System</h1>
        <p>Welcome to our parking reservation system</p>
    </header>
    
    <nav>
        <!-- nav -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'list_parking_spots' %}">Parking Spots</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!-- footer -->
        <p>&copy; 2024 Parking Reservation System. All rights reserved.</p>
    </footer>
</body>
</html>
