{% extends 'base.html' %}

{% block title %}Parking Spots - Parking Reservation{% endblock %}

{% block content %}
    <div class="container">
        <h1>Parking Spots</h1>
        <ul>
            {% for spot in parking_spots %}
                <li>
                    <span class="spot-info">Parking Spot: {{ spot.spot_number }}</span>
                    {% if not spot.is_reserved %}
                        (<a href="{% url 'reserve_spot' spot.id %}" class="reserve-link">Reserve</a>)
                    {% else %}
                        {% comment %} <span class="reserved">(Reserved) until {{ spot.reservation.end_time|date:"DATETIME_FORMAT" }}</span> {% endcomment %}
                        <span class="reserved">(Reserved)</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
